/* Center elements in mobile view */
.u, .u1, .yi, .im, .text-overflow-ellipsis {
    text-align: center;
  }
  .u{
    margin-top: 4%;
  }
  /* Make the images responsive */
  .im {
    max-width: 30%; /* Ensure images don't overflow their containers */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 15px;
  }
  
  /* Add spacing between columns on larger screens */
  @media (min-width: 768px) {
    .y .col-md-4 {
      margin-bottom: 20px;
    }
  }
  .contain {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
    .contain {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .contain {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .contain {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .contain {
        max-width: 1140px;
    }
}

  /* Apply mobile-specific styles */
  @media (max-width: 768px) {
    .y {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center items horizontally on mobile */
      height: 100vh; /* Set the height to occupy the full viewport height */
    }
    .y .col-md-4 {
      width: 100%; /* Make columns occupy full width on mobile */
    }
    #k {
      width: 100%;
    }
    .golden-hr {
      margin-top: 4%; /* Increase top margin for mobile view */
    }
    .u, .u1 {
      margin-top: 4%; /* Increase top margin for mobile view */
      margin-bottom: 2%; /* Decrease bottom margin for mobile view */
    }
    .yi {
      margin-top: 2%; /* Increase top margin for mobile view */
      margin-bottom: 2%; /* Increase bottom margin for mobile view */
    }
  }
  
  /* Keyframes animation */
  @keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(2px);
    }
  }
  